@import "tailwindcss";

:root {
    --spacing: 4px;
}

.p-tabview-title {
    margin-left: 0.5rem
}

.p-fileupload-row {
    overflow: auto;
}

.p-menubar-button, .rhap_repeat-button {
    display: none;
}

.p-menubar {
    height: 80px;
}

.p-tabview-nav-container {
    height: 60px;
}

.p-tabview-panel {
    height: calc(100vh - 350px);
}