@import "tailwindcss";

:root {
    --spacing: 4px;
}

.p-tabview-title {
    margin-left: 0.5rem
}

.p-fileupload-row {
    overflow: auto;
}

.p-fileupload-buttonbar {
    justify-content: center;
}

.p-menubar-button, .rhap_repeat-button {
    display: none;
}

.p-menubar {
    height: 80px;
}

.p-tabview-nav-container {
    height: 57px;
}

.p-tabview-panels {
    padding: 0;
}

.p-overlaypanel:before, .p-overlaypanel:after {
    display: none;
}